/*



.jumbotron a{
    background:#fff;
    color:#000;
    border:none;
    transition:0.5s;
}
.imageFull{
    justify-content: center;
}

.jumbotron a:hover{    border:none;

    background:#20B2AA;
    color:#fff;
    transition:1s;
    opacity: 1;
}
@media (max-width:690px){
    .jumbotron h1{
      font-size: 2.5rem;
    }

  }
@media (max-width:470px){
    .jumbotron h1{
      font-size: 1.5rem;
    }
    .titre{
        margin:8rem 0;
        }
  }
  #test{
      border:1px solid black;
      box-shadow: 3px 3px 3px black;
  }

  #map{
    height:600px;
}

.rightMenuTitle{
    text-transform: uppercase;

}
 */
